---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import CarouselCards from '../components/CarouselCards.astro';
import Misconceptions from '../components/Misconceptions.astro';
import ServiceCards from '../components/ServiceCards.astro';
import MailingListCTA from '../components/MailingListCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="WishesMadeClear - End of Life Planning Workshops">
  <main>
    <Hero />
    <CarouselCards />
    <Misconceptions />
    <ServiceCards />
    <MailingListCTA />
  </main>
  <Footer />
</Layout>
